{% extends 'base.html.twig' %}
{% block body %}
{{ parent() }}
{{ include('RCMPropuestasBundle:Mensajes:message.html.twig') }}
<div class="progress no-border hidden" id="delete-progress">
  <div class="progress-bar progress-bar-striped active" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    <span class="sr-only">Cargando...</span>
  </div>
</div>
<div class="container">
  {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
    {% if delete_form_ajax is defined %}
      {{ include('RCMPropuestasBundle:Usuario:perfil.html.twig', {pagination:pagination}) }}
    {% endif %}
  {% else %}
    {{ include('RCMPropuestasBundle:Admin:home.html.twig') }}
  {% endif %}
</div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bundles/rcmpropuestas/js/eliminar-propuesta.js') }}" type="text/javascript"></script>
{% endblock%}
