<div class="row">
  <div class="col-md-3">
    {% if app.user.foto == '' %}
    <img src="{{ asset('public/images/Icon-user.png') }}" alt="Foto" class="img-rounded" width="150" height="160"/>
    {% else %}
    <img src="{{asset(app.user.getWebPath)}}" alt="Foto" class="img-rounded" width="150" height="160"/>
    {% endif %}
  </div>
  <div class="col-md-9">
    <h3 class="text-center">Bienvenido {{ app.user.Nombre }}!!!</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">Propuestas</h2>
    <table class="table table-striped">
      <thead>
        <tr>
        <th>Titulo</th>
        <th>Descripción</th>
        <th>Tipo</th>
        <th>Visibilidad</th>
        <th>Fecha de creación</th>
        <th>Fecha de actualización</th>
        <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for propuesta in app.user.propuestas %}
        <tr data-id="{{ propuesta.id }}">
          <td>{{ propuesta.titulo }}</td>
          <td>{{ propuesta.descripcion }}</td>
          <td>{{ propuesta.tipo }}</td>
          {% if propuesta.visibilidad == 'PUBLIC' %}
            <td class="text-uppercase bg-success"><b>público</b></td>
          {% else %}
            <td class="text-uppercase bg-danger"><b>privado</b></td>
          {% endif %}
          <td><b>{{ propuesta.createdAt|date('d-m-Y H:i') }}</b></td>
          <td><b>{{ propuesta.updatedAt|date('d-m-Y H:i') }}</b></td>
          <td>
            {% if propuesta.visibilidad == 'PUBLIC' %}
              <a href="{{ path('rcm_propuesta_ver', {id:propuesta.id}) }}" class="btn btn-success btn-sm">Ver</a>
            {% elseif propuesta.visibilidad == 'PRIVATE' and app.user == propuesta.usuario %}
              <a href="{{ path('rcm_propuesta_ver', {id:propuesta.id}) }}" class="btn btn-success btn-sm">Ver</a>
            {% else %}
              <a href="#" class="btn btn-success btn-sm" disabled="disabled">Ver</a>
            {% endif %}
            <a href="{{ path('rcm_propuesta_editar', {id:propuesta.id}) }}" class="btn btn-info btn-sm">Editar</a>
            <a href="#" class="btn btn-danger btn-sm btn-delete">Eliminar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{{ include('RCMPropuestasBundle:Usuario:forms/form.html.twig', {form : delete_form_ajax, message : '¿Estas seguro?', id : 'form-delete', with_submit : false}) }}
